/******* DEBUG *********/

.debug aside {
    width: 60px;
    height: calc(100vh - 65px);
    background-color: rgb(19, 41, 63);
}

.debug .aa {
    background-color: rgb(27, 114, 232);
    border: dashed black;
}

.debug .a1 {
    height: 250px;
    background-color: blueviolet;
}

.debug .a2 {
    height: 150px;
    background-color: rosybrown;
}

.debug .a3 {
    height: 100px;
    background-color: olive;
}

.debug .a4 {
    height: 400px;
    background-color: coral;
}

/**********************/



/****** UTILITY *******/

.ms_orange_text {
    color: rgb(255, 143, 0);
}

.ms_btn {
    
    background-color: rgb(22, 91, 186);
    color: white;
    border-radius: 25px;
}

/**********************/


header {
    height: 60px;
}

main {
    margin-top: 65px;
}

.ms_no_left_border {
    border-left: none;
}

.ms_img_container {
    height: 50px;
}

.ms_img_container img {
    height: 50px;
    padding-bottom: 2px;
}

.ms_main_container {
    width: calc(100% - 60px);
}




/***** RESPONSIVE ******/

@media screen and (min-width: 768px) {
    .students {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 992px) {
    .debug aside {
        width: 125px;
    }

    .ms_main_container {
        width: calc(100% - 100px);
    }
}

/***********************/