header {
    height: 60px;
}

.ms_no_left_border {
    border-left: none;
}

.ms_img_container {
    height: 50px;
}

.ms_img_container img {
    height: 50px;
    padding-bottom: 2px;
}

.ms_orange_text {
    color: rgb(255, 143, 0);
}
